<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
     <h1>МАГАЗИН ИГР</h1>
     <h2> Stalker 2<h2> <button>купить</button>
         <h2> Cyberpunk 2077 <h2> <button>купить</button>
             <h2>Atomic Heart</h2> <button>купить</button>


 <button>корзина</button>
 <a href="http://127.0.0.1:8000/task4/platform/"> в корзину </a>
 <button>на главную<button>
 <a href="http://127.0.0.1:8000/task4/cart/"> вернуться на главную страницу </a>
</body>
</html>